extends ../layouts/layout

block head
  title #{application} &middot; Home

block styles
  link(rel='stylesheet', href='/lib/devicons/css/devicons.min.css')
  //- link(rel='stylesheet', href='//cdn.jsdelivr.net/devicons/1.5.0/css/devicons.min.css')
  link(rel='stylesheet', href='/css/page-api.min.css')

block content

  .mini-tron
    .container
      h1 Welcome to #{application}!

  .container
