extends ../layouts/layout

block head
  title #{application} &middot; Welcome!

block styles
  link(rel='stylesheet', href='/lib/animate.css/animate.css')

block content
    section.hero.text-center
      .container.text-center.jumbotron.intro
        h1 Changing the World Through Design
          p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.
          a.btn.button.hollow(href='/login', role='button') Sign up


section#about
      .text-center.jumbotron
        h1 My Lucke App
        .row
    section#about
      .text-center.jumbotron
        h1 My Lucke App
        .row
    section#about
      .text-center.jumbotron
        h1 My Lucke App
        .row


//- Page-specific stuff
block scripts


  script.
    $(document).ready(function() {
      $('body').addClass('bg-brand6');
    });
