extends ../layouts/layout

block head
    title #{application} with React

block styles
    link(rel='stylesheet', href='/css/page-react.min.css')

block content

    .container
        #root

block scripts
    script(src='/lib/react/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js')
    //script(src='/lib/react/JSXTransformer.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js')
    //script(type='text/babel' data-presets="es2015,stage-0,react").
    script(src='bundle.js')



