extends ../layouts/layout

block head
    title #{application} with React

block styles
    link(rel='stylesheet', href='/css/page-react.min.css')

block content

    .container
        #root

block scripts
    script(src='/lib/react/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js')
    //script(src='/lib/react/JSXTransformer.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js')
    script(type='text/babel' data-presets="es2015,stage-0,react").
        class NameForm extends React.Component {
        constructor(props) {
        super(props);
        this.state = {value: ''};
        this.handleChange = this.handleChange.bind(this);
        this.handleSubmit = this.handleSubmit.bind(this);
        }

        handleChange(event) {
        this.setState({value: event.target.value});
        }

        handleSubmit(event) {
        alert('A name was submitted: ' + this.state.value);
        event.preventDefault();
        }

        render() {
        return (
        <form onSubmit={this.handleSubmit}>
        Name:
        <input type="text" value={this.state.value} onChange={this.handleChange} />
        <input type="submit" value="Submit" />
        </form>
        );
        }
        }

        ReactDOM.render(
        <NameForm />,
        document.getElementById('root')
        );



