extends ../layouts/layout

block head
    title #{application} &middot; My Account

block content
    .container
        .row
            .col-md-12
                .page-header
                    h2 Offers
                    div#mount-point.container

block scripts
    script(src='bundle/bundle.js')
