extends ../layouts/layout

block head
    title #{application} &middot; My Account

block content
    .container
        .row
            .col-md-12
                main#basic
            div#mount-point.offer-wrap
block scripts
    script(src='bundle/bundle.js')

